In [6]:
import pandas as pd 
df = pd.read_excel('nn.xlsx')
df

      yr     subject                              winner
0   2015   Chemistry                         Aziz Sancar
1   2015   Chemistry                     Paul L. Modrich
2   2015   Chemistry                       Tomas Lindahl
3   2015   Economics                        Angus Deaton
4   2015  Literature                 Svetlana Alexievich
5   2015    Medicine                           Tu Youyou
6   2015    Medicine                 William C. Campbell
7   2015       Peace  Tunisian National Dialogue Quartet
8   2015     Physics                  Arthur B. McDonald
9   2015     Physics                      Takaaki Kajita
10  2014   Chemistry                         Eric Betzig
11  2014   Chemistry                         Stefan Hell
12  2014   Chemistry                     William Moerner
13  2014   Economics                         Jean Tirole
14  2014  Literature                     Patrick Modiano
15  2014    Medicine                        Edvard Moser
16  2014    Medicine                        John O'Keefe
17  2014    Medicine                     May-Britt Moser
18  2014       Peace                   Kailash Satyarthi
19  2014       Peace                    Malala Yousafzai
20  2014     Physics                       Hiroshi Amano
21  2014     Physics                       Isamu Akasaki
22  2014     Physics                      Shuji Nakamura
23  2013   Chemistry                       Arieh Warshel
24  2013   Chemistry                      Martin Karplus
25  2013   Chemistry                      Michael Levitt
26  2013   Economics                      Eugene F. Fama
27  2013   Economics                   Lars Peter Hansen
28  2013   Economics                   Robert J. Shiller
29  2013  Literature                         Alice Munro
30  2013    Medicine                    James E. Rothman
31  2013    Medicine                   Randy W. Schekman
32  2013    Medicine                    Thomas C. Südhof
33  2013     Physics                    François Englert
34  2013     Physics                      Peter W. Higgs
35  2012   Chemistry                    Brian K. Kobilka
36  2012   Chemistry                 Robert J. Lefkowitz
37  2012   Economics                       Alvin E. Roth
38  2012   Economics                    Lloyd S. Shapley
39  2012  Literature                              Mo Yan
40  2012    Medicine                      John B. Gurdon
41  2012    Medicine                     Shinya Yamanaka
42  2012       Peace                      European Union
43  2012     Physics                   David J. Wineland
44  2012     Physics                       Serge Haroche
45  2011   Chemistry                       Dan Shechtman
46  2011   Economics                 Christopher A. Sims
47  2011   Economics                   Thomas J. Sargent
48  2011  Literature                   Tomas Tranströmer
49  2011    Medicine                       Bruce Beutler

In [ ]:
SUPPOSE WE ARE USING THE ABOVE DATA, VARIOUS FIELDS CAN BE OBTAINED. 

#displays Nobel prizes for 1950.
SELECT yr, subject, winner
FROM nobel
WHERE yr = 1950

In [ ]:
#Show who won the 1962 prize for Literature.

SELECT winner
FROM nobel
WHERE yr = 1962 AND subject = 'Literature';

In [ ]:
#Show the year and subject that won 'Albert Einstein' his prize.

SELECT yr, subject 
FROM nobel
WHERE winner = 'Albert Einstein';

In [ ]:
#Give the name of the 'Peace' winners since the year 2000, including 2000.

SELECT winner 
FROM nobel
WHERE
subject = 'Peace' AND yr >= 2000

In [ ]:
#Show all details (yr, subject, winner) of the Literature prize winners for 1980 to 1989 inclusive.

SELECT yr, subject, winner 
FROM nobel 
WHERE subject = 'Literature' AND yr >=1980 AND yr <=1989;

In [ ]:
#Show all details of the presidential winners:

#Theodore Roosevelt
#Woodrow Wilson
#Jimmy Carter
#Barack Obama

SELECT yr, subject,winner
FROM nobel 
WHERE winner IN ('Theodore Roosevelt','Woodrow Wilson','Jimmy Carter', 'Barack Obama');

In [ ]:
#Show the winners with first name John

SELECT winner FROM nobel 
WHERE winner LIKE 'John%'

In [ ]:
#Show the year, subject, and name of Physics winners for 1980 together with the Chemistry winners for 1984.

SELECT
 yr, subject, winner 
FROM 
 nobel 
WHERE
 subject = 'Physics' AND yr = 1980 OR subject = 'Chemistry' AND yr = '1984';

In [ ]:
#Show the year, subject, and name of winners for 1980 excluding Chemistry and Medicine

SELECT yr, subject, winner 
FROM nobel 
WHERE yr = 1980 AND subject NOT IN ('Chemistry', 'Medicine')

In [ ]:
#Show year, subject, and name of people who won a 'Medicine' prize in an early year (before 1910, not including 1910) together with winners of a 'Literature' prize in a later year (after 2004, including 2004)

SELECT yr, subject, winner 
FROM nobel 
WHERE subject = 'Medicine' AND yr < 1910 OR subject = 'Literature' AND yr >=2004

In [ ]:
#Find all details of the prize won by PETER GRÜNBERG

#Non-ASCII characters
#The u in his name has an umlaut

SELECT yr, subject, winner 
FROM nobel
WHERE
winner = 'PETER GRÜNBERG';

In [ ]:
#Find all details of the prize won by EUGENE O'NEILL

#Escaping single quotes
#You can't put a single quote in a quote string directly. You can use two single quotes within a quoted string.

SELECT yr, subject, winner 
FROM nobel
WHERE
winner = 'EUGENE O''NEILL';

In [ ]:
#List the winners, year and subject where the winner starts with Sir. Show the the most recent first, then by name order.

SELECT * FROM  nobel
WHERE
winner LIKE "%Sir";

In [ ]:
#The expression subject IN ('Chemistry','Physics') can be used as a value - it will be 0 or 1.

#Show the 1984 winners and subject ordered by subject and winner name; but list Chemistry and Physics last.

SELECT winner, subject
FROM nobel
WHERE yr=1984
ORDER BY subject IN ('Physics','Chemistry'), subject,winner